.input-container {
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;

    &__column {
        margin: 40px;
        border: 2px solid white;

        &--buttons {
            border: 1px solid red;
        }

        &--main {
            margin: 40px;
            border: 2px solid red;
        }

        &--changing {
            margin: 40px;
            border: 2px solid yellow;
        }
    }

}